[Unit]
Description = Cram Entrance And Exit Management
Documentation = https://github.com/ihgs/cram_entrance_and_exit

[Service]
EnvironmentFile =/etc/eaecm.conf
ExecStart = /opt/eaecm/bin/eaecm --host $CRAM_HOST --port $CRAM_PORT --token $CRAM_TOKEN
Type = simple

[Install]
WantedBy = multi-user.target
